@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #8787ab, #a9a7b0);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.cake-count {
  background-color: white;
  color: #8c8a92;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}
